@keyframes rot {
  0% {
    left: -7.5px;
    top: -7.5px;
    background-color: red;
  }

  25% {
    left: calc(100% - 7.5px);
    top: -7.5px;
    background-color: darkolivegreen;
  }

  50% {
    left: calc(100% - 7.5px);
    top: calc(100% - 7.5px);
    background-color: darkorange;
  }

  75% {
    top: calc(100% - 7.5px);
    left: -7.5px;
    background-color: darkorchid;
  }

  100% {
    top: -7.5px;
    left: -7.5px;
    background-color: red;
  }
}
